+++
title = "Quality Assurance DAO"
linkTitle = "Quality Assurance DAO"

+++

{{< blocks/cover title="Welcome to Quality Assurance DAO" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p class="lead mt-5">The Distributed Autonomous Organisation of Quality Assurance.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Quality Assurance DAO (QA-DAO) is an ongoing open source project that provides support for the Cardano Project Catalyst Community. 
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-book" title="Documentation" url="https://quality-assurance-dao.github.io/docs/" %}}
QA-DAO designs and maintains documentation in open-source GitHub repositories for the Catalyst Circle, Catalyst Swarm, The Catalyst Alliance and The Catalyst School.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-university" title="Transparent Governance" url="https://quality-assurance-dao.github.io/docs/catalyst-circle/" %}}
QA-DAO reports on and tracks Catalyst Governance experiments such as the Catalyst Circle.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-desktop" title="Training" url="https://quality-assurance-dao.github.io/docs/catalyst-school/open-source-training/" %}}
QA-DAO provides support and training for the Project Catalyst community via the Catalyst School.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
	
{{% blocks/feature icon="fab fa-twitter" title="Follow QA-DAO on Twitter!" url="https://twitter.com/qa_dao" %}}
For the latest news.
{{% /blocks/feature %}}
	
{{% blocks/feature icon="fa-terminal" title="IBM 7030 Stretch computer image" url="https://en.wikipedia.org/wiki/IBM_7030_Stretch" %}}
Photo of an IBM 7030 computer on display at National Cryptologic Museum.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-terminal" title="Sponsor Quality-Assurance-DAO" url="https://github.com/sponsors/Quality-Assurance-DAO" %}}
<iframe src="https://github.com/sponsors/Quality-Assurance-DAO/card" title="Sponsor Quality-Assurance-DAO" height="225" width="600" style="border: 0;"></iframe>
{{% /blocks/feature %}}


{{< /blocks/section >}}
