+++
title = "Quality Assurance DAO"
linkTitle = "Quality Assurance DAO"

+++

{{< blocks/cover title="Welcome to Quality Assurance DAO" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p class="lead mt-5">The Distributed Autonomous Organisation of Quality Assurance.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Quality Assurance DAO (QA-DAO) is an ongoing open source project that provides support for and is funded by the Cardano Project Catalyst Community. 
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
	
{{% blocks/feature icon="fa-clipboard" title="Quality Assurance-DAO" url="https://quality-assurance-dao.github.io/docs/qa-dao/" %}}
QA-DAO's core activities. The pathway of a funded cohort & assessment of funded cohort reporting requirements.
{{% /blocks/feature %}}
	
{{% blocks/feature icon="fa-university" title="Transparent Governance" url="https://quality-assurance-dao.github.io/docs/catalyst-circle/" %}}
QA-DAO reports on & tracks Catalyst Governance experiments such as the Catalyst Circle. And supports Catalyst Circle Facilitators and Secretaries.
{{% /blocks/feature %}}
	
{{% blocks/feature icon="fa-desktop" title="Training" url="https://quality-assurance-dao.github.io/docs/training/" %}}
QA-DAO provides support & training for the Project Catalyst community via the Catalyst School.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-cubes" title="Catalyst-Swarm" url="https://quality-assurance-dao.github.io/docs/catalyst-swarm/" %}}
QA-DAO supports Catalyst-Swarm, a self organizing Project Catalyst community.
{{% /blocks/feature %}}
	
{{% blocks/feature icon="fa-home" title="Collaborations" url="https://quality-assurance-dao.github.io/docs/collaborations/" %}}
QA-DAO Collaborations such as Homeless Hub.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-life-ring" title="Sponsor Quality-Assurance-DAO" %}}
[Become a QA-DAO GitHub Sponsor](https://github.com/sponsors/Quality-Assurance-DAO)
{{% /blocks/feature %}}
	
	
{{< /blocks/section >}}
	
	
{{< blocks/section >}}
	
{{% blocks/feature icon="fab fa-twitter" title="Follow QA-DAO on Twitter!" url="https://twitter.com/qa_dao" %}}
Follow QA-DAO on Twitter!
{{% /blocks/feature %}}
	
{{% blocks/feature icon="fa-terminal" title="IBM 7030 Stretch computer image" url="https://en.wikipedia.org/wiki/IBM_7030_Stretch" %}}
Photo of an IBM 7030 computer on display at National Cryptologic Museum.
{{% /blocks/feature %}}


{{< /blocks/section >}}
